body,
div,
ol,
ul,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
fieldset,
legend,
input,
a,
img {
	margin: 0;
	padding: 0;
}
* {
	font-family: HelveticaNeue, Helvetica, STHeiTi, sans-serif;
}
.body {
	background-color: #f6f6f6;
}
.logo {
	/*display: inline;*/
	
	float: left;
	width: 35px;
}
.logo-txt {
	float: left;
	font-size: 20px;
	margin-left: 10px;
	font-weight: 100;
}
.header {
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}
.content {
	height: 160px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}
.input-u {
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2) inset;
	border-radius: 4px 4px 0px 0px;
	box-sizing: border-box;
	width: 100%;
	padding: 5px;
	height: 45px;
	border: 1px solid #CCC;
	color: #868686;
	font-size: 16px;
	outline: 0px none;
	/*margin-left:5px;
	margin-right:5px;*/
}
.input-p {
	margin-top: -1px;
	border-radius: 0px 0px 4px 4px;
	box-sizing: border-box;
	width: 100%;
	padding: 5px;
	height: 45px;
	border: 1px solid #CCC;
	color: #868686;
	font-size: 16px;
	outline: 0px none;
}
.input-l {
	width: 100%;
	border: 1px solid #40A217;
	background: #71c228;
	background: -webkit-gradient(linear, left top, left bottom, from(#71c228), to(#75c92a));
	background: -webkit-linear-gradient(top, #71c228, #75c92a);
	background: -moz-linear-gradient(top, #71c228, #75c92a);
	background: -ms-linear-gradient(top, #71c228, #75c92a);
	background: -o-linear-gradient(top, #71c228, #75c92a);
	background: linear-gradient(top, #71c228, #75c92a);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.13), 0px 1px 1px #9ED74A inset;
	margin: 0px auto;
	display: block;
	border-radius: 4px;
	font-weight: 700;
	height: 46px;
	clear: left;
	color: #FFF;
	font-size: 16px;
	float: left;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
}
.copyright {
	text-align: center;
	color: #555;
	margin-top: 40px;
	font-family: HelveticaNeue, Helvetica, STHeiTi, sans-serif;
	font-size: 12px;
	display: block;
}
.err_m {
	margin-bottom: 14px;
	color: #f00;
	font-family: HelveticaNeue, Helvetica, STHeiTi, sans-serif;
	font-size: 12px;
	zoom: 1;
	display: none;
}
.statePanel {
	width: 150px;
	height: 220px;
	border-radius: 4px;
}
.statePanel {
	position: absolute;
	right: 57px;
	z-index: 10;
	margin: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: #CCC #6A6A6A #666 #CDCDCD;
	padding: 0px;
	overflow: hidden;
	background: #FFF none repeat scroll 0% 0%;
	font-size: 12px;
	line-height: 1.5;
}
.statePanel .statePanel_li {
	background-color: transparent;
	width：150px;
	padding: 10px 15px;
	display: block;
	float: left;
	margin: 0px;
	height: 16px;
	line-height: 16px;
	overflow: hidden;
	cursor: pointer;
	font-size: 12px;
}
.login-state .online {
	background: transparent url("../img/ptlogin.png") no-repeat scroll 0px 0px;
}
.stateSelect_icon {
	float: left;
	margin: 2px 0px 0px 5px;
	width: 14px;
	height: 14px;
	overflow: hidden;
	font-family: HelveticaNeue, Helvetica, STHeiTi, sans-serif;
	font-size: 16px;
	cursor: pointer;
}
.stateSelect_text {
	margin: 0px 0px 0px 22px;
}
#loginState {
	border: 1px solid #cfcfcf;
	background: #FFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CECECE));
	background: -webkit-linear-gradient(top, #FFF, #CECECE);
	background: -moz-linear-gradient(top, #FFF, #CECECE);
	background: -ms-linear-gradient(top, #FFF, #CECECE);
	background: -o-linear-gradient(top, #FFF, #CECECE);
	background: linear-gradient(top, #FFF, #CECECE);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CECECE', GradientType=0);
	padding: 10px 10px;
	width: 80px;
	margin: 0 0 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px
}
.login-state-trigger {
	float: left;
	cursor: pointer;
	display: block;
	height: 16px;
}
.login-state .hidden {
	background: transparent url("../img/ptlogin.png") no-repeat scroll 0px 0px;
}
.login-state-show {
	float: left;
	height: 14px;
	overflow: hidden;
	text-indent: -999em;
	width: 14px;
	margin: 1px 4px 0px 0px;
}
.login-state-down {
	background: transparent url("../img/ptlogin.png") no-repeat scroll 0px -22px;
	float: left;
	height: 6px;
	margin-top: 5px;
	overflow: hidden;
	text-indent: -999em;
	width: 7px;
	font-size: 12px;
	cursor: pointer;
}
.login-state-txt {
	float: left;
	margin-left: 5px;
	font-size:12px;
}