<div class="weui-cells weui-cells_form">
	<div class="weui-cell">
		<div class="weui-cell__hd"><label class="weui-label">Username:</label></div>
		<div class="weui-cell__bd">
			<input ng-model="username" class="weui-input" type="text" placeholder="请输入用户名">
		</div>
	</div>
	<div class="weui-cell">
		<div class="weui-cell__hd"><label class="weui-label">Password:</label></div>
		<div class="weui-cell__bd">
			<input ng-model="password" class="weui-input weui-password" type="password" placeholder="请输入密码">
		</div>
	</div>
</div>
<div class="weui-btn-area">
    <a ng-click="register()" class="weui-btn weui-btn_primary" id="showTooltips">注册</a>
</div>
